* {
  box-sizing: border-box;
}
:root {
  --font-secondary: "Roboto", sans-serif;
  --font-primary: "Bebas Neue", sans-serif;

  --main-color: #0760b3;
  --light-color: rgb(240, 240, 240);
  --button-color: #80cc29;

  --font-color0: black;
  --font-color1: white;
}
html {
  scroll-behavior: smooth;
}
body {
  background-color: var(--light-color);
  padding: 0;
  margin: 0;
}
.main {
  --padding: 1.5rem;

  --max-width: 70vw;
  width: min((var(--max-width)), 100% - (var(--padding) * 2));
  margin-inline: auto;
}
img {
  max-width: 100%;
  height: auto;
}
.logo {
  width: 50%;
  height: 100%;
}
h1 {
  font-size: 3rem;
  font-family: var(--font-primary);
  color: var(--font-color0);
  font-weight: 600;
  text-align: center;
}
h2 {
  font-size: 1.4rem;
  font-family: var(--font-primary);
  color: var(--font-color0);
  letter-spacing: 0.03rem;
  font-weight: 400;
}
h3 {
  font-size: 1.2rem;
  color: var(--font-color0);
  font-family: var(--font-primary);
}
h4,
p,
label {
  font-size: 1rem;
  font-family: var(--font-secondary);
  color: var(--font-color0);
  line-height: 2rem;
}
a {
  font-family: var(--font-primary);
  letter-spacing: 0.1rem;
}
/***************header styling****************/
.header_styling {
  background-color: var(--main-color);

  color: white;
  display: flex;
  flex-direction: row;
  padding: 3rem;
  line-height: 2rem;
  gap: 3rem;
}
@media screen and (max-width: 750px) {
  .header_styling {
    display: flex;
    flex-direction: column;
  }
}
nav {
  align-self: center;
}
li {
  list-style: none;
}
ul {
  display: flex;
  flex-direction: row;
  gap: 2rem;
  justify-content: space-around;
  text-align: right;
}
a {
  color: white;
  text-decoration: none;
}
/*************calculate section styling*********************/
.form_fields {
  text-align: center;
}
form {
  padding: 2rem 3rem 2rem 3rem;
  display: grid;
  grid-template-columns: 1fr;
}
button {
  background-color: var(--main-color);
  padding: 2rem;
  border-radius: 1.5rem;
  font-family: var(--font-secondary);
  font-weight: 800;
}
button:hover {
  background-color: var(--button-color);
}
select {
  padding: 0.5rem;
}
/*************tips section styling*********************/
.tips_section {
  background-image: url(../src/assets/card_background.webp);
  background-size: cover;
  background-color: rgba(159, 159, 159, 0.5);
  background-position: center;
  /* color: var(--font-color1); */
  padding: 3rem;
  margin: 4rem;
  border-radius: 2rem;
}
.tip_headings {
  font-size: 1.8rem;
  letter-spacing: 0.07rem;
  text-align: center;
  color: var(--font-color1);
}
/*************footer styling*********************/
.footer_styling {
  background-color: var(--main-color);
  letter-spacing: 0.1rem;
  padding: 3rem;
  text-align: center;
}
.footer_font {
  color: var(--font-color1);
}
.footer_elements {
  margin: 2rem;
  line-height: 3rem;
}
